* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(22,22,22);
    // background-color: rgb(125, 122, 122);
    // font-family: 'Source Code Pro', monospace;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 80%;
    height: fit-content;
    margin: 0 auto;
    // background-color: rgb(0,0,0);
    border-radius: 15px;
    border: none;
    align-items: center;
    justify-content: center;

    header {
        width: 100%;

        nav {
            width: 95%;
            margin: 0 auto;
            margin-top: 30px;
            margin-bottom: 50px;
            letter-spacing: 0.2em;
            font-size: 22px;

            ul {
                list-style-type: none;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                
                // margin-top: 40px;
                

                li a {
                    text-decoration: none;
                    color: rgb(104, 100, 100);
                }

                :hover {
                    color: rgb(200,200,200);
                    cursor: pointer;
                }

                
            }
            li.active a{
                color: rgb(200,200,200);
            }
        }
        

        .heading {
            width: 95%;
            display: flex;
            flex-direction: column;
            gap: 16px;
            color: rgb(199,16,46);
            text-transform: uppercase;
            margin: 0 auto;
            margin-bottom: 70px;
            

            h1{
               display: none;
            }

            ul {
                list-style: none;
                justify-content: space-between;
                font-size: 68px;
                display: flex;
                line-height: 4rem;
                font-weight: 500;
                // font-style: italic; 
            }
            
           
        }
    }

    main {
        width: 100%;
        margin: 0 auto;

        .orders {
            width: 95%;
            height: max-content;
            margin: 0 auto;
            background-color: rgb(200,200,200);
            padding-top: 40px;
            padding-bottom: 60px;
            display: flex;
            flex-direction: column;
            gap: 40px;
            
            h2{
                text-align: center;
                color: rgb(73, 71, 71);
            }

            ol {
                width: 80%;
                display: flex;
                flex-direction: column;
                gap: 25px;
                color: rgb(73, 71, 71);
                align-items: stretch;
                font-size: 18px;
                letter-spacing: 0.04rem;
                line-height: 1.4em;
                margin: 0 auto;

                li{
                    display: flex;
                    justify-content: space-between;

                    .price{
                        display: flex;
                        gap: 40px;
                        
                        button {
                            width: 86px;
                            height: 23px;
                            border: none;
                            border-radius: 12px;
                            font-size: 11px;
                            letter-spacing: 0.05rem;
                            color: rgb(195, 193, 193);
                            background-color: rgb(73, 71, 71);
                        }
                        button:hover{
                            cursor: pointer;
                            color: rgb(73, 71, 71);
                            background-color: rgb(151, 148, 148);
                        }
                    }
                    .info{
                        display: flex;
                        flex-direction: column;
                        align-items: baseline;

                        p{
                            font-size: 14px;
                        }
                    }
                }

                
            }

            .order-total-btn{
                width: 80%;
                display: flex;
                justify-content: space-between;
                margin: 0 auto;
                float: left;

                .total{
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                    

                    h2{
                        text-transform: uppercase;
                        letter-spacing: 0.2rem;
                    }

                    p{
                        font-size: 20px;
                        line-height: 2rem;
                        // font-weight: 900;
                        color: rgb(73, 71, 71);
                        letter-spacing: 0.05rem;
                    }
                }

                .continue-btn{
                    button {
                        border: none;
                        width: 90px;
                        height: 28px;
                        font-size: 11px;
                        border-radius: 12px;
                        letter-spacing: 0.09rem;
                        color: rgb(195, 193, 193);
                        background-color: rgb(73, 71, 71);
                        text-transform: uppercase;
                        font-weight: 600;
                    }

                    button:hover {
                        cursor: pointer;
                        color: rgb(73, 71, 71);
                        background-color: red;
                    }
                }
            }
        }
        
    }

    footer {
        width: 100%;
        

        p{
            font-size: 10px;
            color: rgb(93, 90, 90);
            text-align: center;
            padding-bottom: 40px;
            padding-top: 30px;
            letter-spacing: 0.18rem;
        }
    }


}